@import './style.scss';

button {
  outline: none !important;
}

.pointer {
  cursor: pointer;
}

.login-btn {
  button {
    width: 45%;
  }
}

.cascader-menu-500 {
  .el-cascader-menu__wrap {
    height: 500px !important;
  }
}
