<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngtao.gmc.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="com.youngtao.gmc.model.domain.CategoryDO">
        <result property="id" column="id" />
        <result property="categoryId" column="category_id" />
        <result property="name" column="name" />
        <result property="parentId" column="parent_id" />
        <result property="icon" column="icon" />
        <result property="url" column="url" />
        <result property="isShow" column="is_show" />
        <result property="isMenu" column="is_menu" />
        <result property="template" column="template" />
        <result property="seq" column="seq" />
        <result property="updateTime" column="update_time" />
        <result property="createTime" column="create_time" />
    </resultMap>

</mapper>