<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngtao.gmc.mapper.SkuMapper">

    <resultMap id="BaseResultMap" type="com.youngtao.gmc.model.domain.SkuDO">
        <result property="id" column="id" />
        <result property="skuId" column="sku_id" />
        <result property="spuId" column="spu_id" />
        <result property="sku" column="sku" typeHandler="com.youngtao.web.typehandler.JsonMapTypeHandler"/>
        <result property="images" column="images" typeHandler="com.youngtao.web.typehandler.JsonListTypeHandler"/>
        <result property="price" column="price" />
        <result property="discount" column="discount" />
        <result property="num" column="num" />
        <result property="alertNum" column="alert_num" />
        <result property="saleNum" column="sale_num" />
        <result property="freezeNum" column="freeze_num" />
        <result property="defaultShow" column="default_show" />
        <result property="updateTime" column="update_time" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <insert id="batchInset" parameterType="skuDO">
        insert into gmc_sku (
            sku_id, spu_id, sku, images, price, num, alert_num, default_show
        ) values
        <foreach collection="skuList" item="sku" separator=",">
            (
                #{sku.skuId}, #{sku.spuId},
                #{sku.sku, typeHandler=com.ankoye.youngtao.web.typehandler.MapJsonTypeHandler},
                #{sku.images, typeHandler=com.ankoye.youngtao.web.typehandler.ListStringJsonTypeHandler},
                #{sku.price}, #{sku.num}, #{sku.alertNum}, #{sku.defaultShow}
            )
        </foreach>
    </insert>

    <update id="batchFreezeInventory" parameterType="freezeInventoryQuery">
        <foreach collection="skuList" item="item" close=";">
            update gmc_sku
            set num = num - #{item.num}, freeze_num = freeze_num + #{item.num}
            where sku_id = #{item.skuId}
        </foreach>
    </update>

    <select id="listBySpuId" resultMap="BaseResultMap">
        select * from gmc_sku
        where spu_id = #{spuId}
    </select>

    <select id="listBySkuIds" resultMap="BaseResultMap">
        select * from gmc_sku
        where sku_id in
        <foreach collection="skuIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>
</mapper>