<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngtao.gmc.mapper.SpuMapper">

    <resultMap id="BaseResultMap" type="com.youngtao.gmc.model.domain.SpuDO">
        <result property="id" column="id" />
        <result property="spuId" column="spu_id" />
        <result property="spu" column="spu" />
        <result property="merchantId" column="merchant_id" />
        <result property="shopName" column="shop_name" />
        <result property="brandId" column="brand_id" />
        <result property="brandName" column="brand_name" />
        <result property="category1Id" column="category1_id" />
        <result property="category2Id" column="category2_id" />
        <result property="category3Id" column="category3_id" />
        <result property="images" column="images" typeHandler="com.youngtao.web.typehandler.JsonListTypeHandler"/>
        <result property="detail" column="detail" />
        <result property="serve" column="serve" typeHandler="com.youngtao.web.typehandler.JsonListTypeHandler"/>
        <result property="spec" column="spec" typeHandler="com.youngtao.web.typehandler.JsonMapTypeHandler"/>
        <result property="skuTemplate" column="sku_template" typeHandler="com.youngtao.web.typehandler.JsonMapTypeHandler" />
        <result property="postage" column="postage" />
        <result property="saleNum" column="sale_num" />
        <result property="commentNum" column="comment_num" />
        <result property="seq" column="seq" />
        <result property="isMarketable" column="is_marketable" />
        <result property="status" column="status" />
        <result property="deleted" column="is_deleted" />
        <result property="updateTime" column="update_time" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <update id="paySuccess" parameterType="updateSaleQuery">
        <foreach collection="spuList" item="item" separator=";">
            update gmc_spu
            set sale_num = sale_num + #{item.num}
            where spu_id = #{item.spuId}
        </foreach>
    </update>

    <update id="logicDelete">
        update gmc_spu set is_deleted = true
        where spu_id = #{spuId}
    </update>

    <update id="recycleBySpuId">
        update gmc_spu set is_deleted = false
        where spu_id = #{spuId}
    </update>


    <select id="selectBySpuId" resultMap="BaseResultMap">
        select * from gmc_spu
        where spu_id = #{spuId}
    </select>

    <select id="listBySpuIds" resultMap="BaseResultMap">
        select * from gmc_spu
        where spu_id in
        <foreach collection="spuIds" item="item" separator="," open="(" close=")">
            #{item}
        </foreach>
    </select>

    <select id="getMerchantProduct" resultMap="BaseResultMap">
        select * from gmc_spu
        where merchant_id = #{merchantId}
        and is_deleted = #{deleted}
    </select>

    <select id="searchProduct" resultMap="BaseResultMap">
        <bind name="likeValue" value="'%'+ searchValue + '%'"/>
        select * from gmc_spu
        where is_deleted = false
        <if test="categoryId != null">
            and category3_id = #{categoryId}
        </if>
        <if test="searchValue != null">
            and spu like #{likeValue}
        </if>
    </select>

</mapper>