<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.youngtao.omc.mapper.OrderItemMapper">

    <resultMap id="BaseResultMap" type="com.youngtao.omc.model.domain.OrderItemDO">
        <result property="id" column="id" />
        <result property="orderId" column="order_id" />
        <result property="spuId" column="spu_id" />
        <result property="skuId" column="sku_id" />
        <result property="title" column="title" />
        <result property="sku" column="sku" typeHandler="com.youngtao.web.typehandler.JsonMapTypeHandler"/>
        <result property="image" column="image" />
        <result property="oldPrice" column="old_price" />
        <result property="price" column="price" />
        <result property="num" column="num" />
        <result property="totalPrice" column="total_price" />
        <result property="updateTime" column="update_time" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <insert id="batchInsert" parameterType="orderItemDO">
        insert into omc_order_item (
            order_id, spu_id, sku_id, title, sku,
            image, old_price, price, num, total_price
        ) values
        <foreach collection="list" item="item" separator=",">
        (
            #{item.orderId}, #{item.spuId}, #{item.skuId}, #{item.title},
            #{item.sku, typeHandler=com.youngtao.web.typehandler.JsonMapTypeHandler},
            #{item.image}, #{item.oldPrice}, #{item.price}, #{item.num}, #{item.totalPrice}
        )
        </foreach>
    </insert>

    <select id="selectByOrderIds" resultMap="BaseResultMap">
        select * from omc_order_item
        where order_id in
        <foreach collection="orderIds" item="item" open="(" close=")" separator=","> #{item} </foreach>
    </select>

</mapper>