<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <property name="LOG_ROOT_LEVEL"
              value="INFO" />
    <property name="CONSOLE_LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss}  %highlight(%-5p) [ %t ] --- %yellow(%c{36}) : %m%n"/>
    <property name="FILE_LOG_PATTERN"
              value="%date{HH:mm:ss.SSS}  %-5p [ %thread ] --- %logger : %msg%n"/>
    <property name="FILE_PATH"
              value="/data/logs/youngtao"/>

    <!-- 异步输出至文件 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${FILE_PATH}/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>
    <appender name="ASYNC_FILE" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>256</queueSize>
        <appender-ref ref="FILE"/>
    </appender>

    <!-- 输出到控制台 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>


    <root level="${LOG_ROOT_LEVEL}">
        <appender-ref ref="STDOUT" />
<!--        <appender-ref ref="ASYNC_FILE" />-->
    </root>
</configuration>