<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ankoye.youngtao.gmc.mapper.CouponMapper">

    <resultMap id="BaseResultMap" type="com.ankoye.youngtao.gmc.model.domain.CouponDO">
        <result property="id" column="id" />
        <result property="couponId" column="coupon_id" />
        <result property="merchantId" column="merchant_id" />
        <result property="shopName" column="shop_name" />
        <result property="reach" column="reach" />
        <result property="reduction" column="reduction" />
        <result property="beginTime" column="begin_time" />
        <result property="endTime" column="end_time" />
        <result property="type" column="type" />
        <result property="targetId" column="target_id" />
        <result property="updateTime" column="update_time" />
        <result property="createTime" column="create_time" />
    </resultMap>

</mapper>