<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ankoye.youngtao.gmc.mapper.SpuMapper">

    <resultMap id="BaseResultMap" type="com.ankoye.youngtao.gmc.model.domain.SpuDO">
        <result property="id" column="id" />
        <result property="spuId" column="spu_id" />
        <result property="spu" column="spu" />
        <result property="title" column="title" />
        <result property="merchantId" column="merchant_id" />
        <result property="brandId" column="brand_id" />
        <result property="brandName" column="brand_name" />
        <result property="category1Id" column="category1_id" />
        <result property="category2Id" column="category2_id" />
        <result property="category3Id" column="category3_id" />
        <result property="cover" column="cover" />
        <result property="images" column="images" typeHandler="com.ankoye.youngtao.web.typehandler.JsonListTypeHandler"/>
        <result property="priceRange" column="price_range" typeHandler="com.ankoye.youngtao.web.typehandler.JsonListTypeHandler"/>
        <result property="detail" column="detail" />
        <result property="serve" column="serve" typeHandler="com.ankoye.youngtao.web.typehandler.JsonListTypeHandler"/>
        <result property="coupon" column="coupon" typeHandler="com.ankoye.youngtao.web.typehandler.JsonListTypeHandler"/>
        <result property="spec" column="spec" typeHandler="com.ankoye.youngtao.web.typehandler.JsonMapTypeHandler"/>
        <result property="skuTemplate" column="sku_template" typeHandler="com.ankoye.youngtao.web.typehandler.JsonMapTypeHandler" />
        <result property="isFreeShipping" column="is_free_shipping" />
        <result property="saleNum" column="sale_num" />
        <result property="commentNum" column="comment_num" />
        <result property="seq" column="seq" />
        <result property="isMarketable" column="is_marketable" />
        <result property="status" column="status" />
        <result property="updateTime" column="update_time" />
        <result property="createTime" column="create_time" />
    </resultMap>

    <select id="selectBySpuId" resultMap="BaseResultMap">
        select * from gmc_spu
        where spu_id = #{spuId}
    </select>

</mapper>